version: "3.9"
services:
  backend:
    build: ./backend
    container_name: pothole-backend
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - ./backend/.env

  db:
    image: mysql:8.0
    container_name: pothole-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: pothole_db
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
